$myFont: 'Roboto', sans-serif;
$easywhite:rgb(241, 241, 247);
$easdark:rgb(19, 19, 44);
$myFontSize: 18px;

$color1:rgb(250, 246, 246);
$color2:rgb(230, 122, 122);
$color3:rgb(77, 163, 42);
$color4:rgb(58, 73, 204);
$color5:rgb(97, 47, 47);
$color6:rgb(48, 8, 8);