$myFont: 'Roboto', sans-serif;
$cutefont:'Mali', cursive;
$boldfont:'Anton', sans-serif;
$superbold:'EB Garamond', serif;
$beauty: 'Merienda', cursive;
$defaultfont:'Fira Sans Condensed', sans-serif;


$easywhite:rgb(241, 241, 247);
$easdark:rgb(19, 19, 44);
$myFontSize: 18px;

$color1:rgb(153, 112, 219);
$color2:rgb(230, 122, 122);
$color3:rgb(102, 211, 58);
$color4:rgb(145, 154, 236);
$color5:rgb(35, 19, 80);
$color6:rgb(25, 17, 73);
$logocolor:rgb(29, 29, 126);
$impactcolor: rgb(44, 212, 241);