.about {
    width:100%;
    height:auto;
   
    .aboutc {
        width:100%;
        height:auto;
        padding: 70px;
        font-size: 20px;
        font-family: 'Anton', sans-serif;

   
    
        font-family: 'Fira Sans Condensed', sans-serif;
    
        // font-family: 'Roboto', sans-serif;
    
        // font-family: 'Tapestry', cursive;
    }
}