@use '../sass/global' as c;

.story {
    width:100%;
    height:auto;
    padding: 20px;
 
    .header {
        width:80%;
        min-height: 100px;
        background-color:white;
        margin: auto;
        h1 {
            color:c.$color3;
            color:black;
        }
        p {
           
            font-family: c.$defaultfont;
            color:black;
            font-size: 20px;
            span {
                position: relative;
                top:5px;
                color:black;
            }
        }
    }
    .content {
        
        width:80%;
        height:auto;
        background-color: white;
        margin: auto;
        box-sizing: border-box;
      
    
        img {
            width: 80%;
            height: auto;
            margin-left: 10%;

            object-fit: cover;
           
        }
    }
}

@media(max-width:600px) {
  
  .story {
        .header {
        width:95%;
        padding:5px;
    }
    .content {
        width:95%;
        padding: 5px;
        p {
            font-size: 15px;
        }
    }
}
}