.mfashion {
    width:95%;
    margin:auto;
    background-color: whitesmoke;

    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.products {
    width: 100%;
    height:auto;
    background-color: white;
    color:black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}