.list {
    hr {
        color:rgb(252, 240, 240);
        background-color: rgb(240, 214, 214);
    }
    ul {
        margin:0px;
        padding:0px;
        li {
            margin:0px;
        padding:0px;
        }
    }
}

.toggler {
  
    position: absolute;
    right:20px;
    top:30px;
}




