.list {
    hr {
        color:rgb(252, 240, 240);
        background-color: rgb(240, 214, 214);
    }
    ul {
        margin:0px;
        padding:0px;
        li {
            margin:0px;
        padding:0px;
        }
    }
}




.donate {
    background-color: rgb(194, 66, 66);
    padding-left:10px;
    padding-right: 10px;
    border-radius: 5px;
    padding: 5px;
    color:white;
    text-transform: uppercase;
    border:2px solid yellow;
  
}