
@use '../../sass/global' as c;




.list {
    margin-top: 50px;
   
    ul {
        margin:0px;
        padding:0px;
        width: 95%;

       
      

        li {
            margin:0px;
        padding:0px;
        font-family: c.$boldfont;
        list-style: none;
        color:white;
        
        margin:5px;
        span {
            position: relative;
            font-size: 20px;
            position: relative;
            top:4px;
        }

ul {
    transition: all 0.3s linear 0s;
    width: 95%;

    li {
        font-size: 14px;
        font-weight: 900;
        text-transform:uppercase;
        font-family: c.$defaultfont;
        color:rgb(255, 255, 255);
        padding:5px;
        box-shadow: 2px 2px 2px rgb(32, 31, 31);


        ul {
        

            
           
            li {
                font-size: 14px;
        font-weight: 900;
        text-transform:capitalize;
        font-family: c.$defaultfont;
        color:rgb(216, 231, 252);
        margin-left: 15px;
        padding:5px;
      
        box-shadow: 2px 2px 2px rgb(58, 56, 56);
      
        
            }
        }
    }
}

        }
    }
}




// .toggler {

//     position: absolute;
//     right:20px;
//     top:30px;

// }

.mview {

display: grid;
grid-template-columns: 88% 12%;
width:100%;
height:100px;
padding: 10px;


.logo {
 
    img {

    width:80px;
    height:70px;

    object-fit: scale-down;
    }
    a {
        font-family: c.$boldfont;
        font-size: 35px;
    }
}

}
