
@media (max-width:800px) {
    .nav {
        padding: 5px;
    }
}

.logo {
    width:200px;
    height:100px;
}



.nav {
    z-index: 2;
    background-color: black;
}
.nav2 {
    position: relative;
    top:0;
    background-color: #404040;
}