@use '../../sass/global' as c;
.navcover {
    width:100%;
    height:100px;
    position: relative;

}


.button {
  
    border: 2px solid yellow;
    font-family: c.$defaultfont;
    font-size: 16px;
    border-radius: 5px;
    color:black;
    width:200px;
    &:hover {
    
        transition: all 0.3s linear 0s;
      font-size: 20px;
    }
}

// @media (max-width:800px) {
//     .nav {
//         padding: 5px;
//     }
// }

// .logo {
//     width:150px;
//     height:100px;
// }



// .nav {
//     width:100%;
//     height:220px;
//     z-index: 2;
//     background-color: rgb(255, 255, 255);
//     color:black;
//     position: absolute;
//     background-color: blue;
// }