.superfooter {
    width: 100%;
    height:50px;
    background-color: rgb(235, 224, 224);
    text-align: center;
    position: relative;
    p {
        font-size: 12px;
        padding-top: 20px;
        color:royalblue;
    }
}